body {

    background-color: #DAF7A6;

}
.center {
    text-align: center;
    margin: 0 auto;
}

.text-box {
    border: 2px solid #000; /* กำหนดขอบของกรอบ */
    padding: 10px; /* กำหนดระยะขอบภายในกรอบ */
    width: 300px; /* กำหนดความกว้างของกรอบ */
    text-align: center;
    margin: 0 auto;
    background-color: #D5D8DC;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDFEFE;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #17202A ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #3d3d3c;

  }



  /*สิ่งที่เราสนใจ*/
  .box{
    border: 2px solid #000; /* กำหนดขอบของกรอบ */
    padding: 10px; /* กำหนดระยะขอบภายในกรอบ */
    width: 300px; /* กำหนดความกว้างของกรอบ */
    text-align: center;
    /*margin: 0 auto;*/
    background-color: #D5D8DC;
  }
  .card {
    width: 300px; /* กำหนดความกว้างของการ์ด */
    padding: 20px; /* กำหนดการเว้นระยะของข้อมูลในการ์ด */
    border: 1px solid #ccc; /* กำหนดเส้นขอบ */
    border-radius: 8px; /* กำหนดมุมขอบ */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* เพิ่มเงาใต้การ์ด */
    margin: 20px auto;
    display: inline-block;
    background-color: #e4f3c8;
  }
  .card img {
    width: 100%; /* ทำให้รูปภาพเต็มขอบของการ์ด */
    border-radius: 4px; /* กำหนดมุมขอบของรูปภาพ */
  }
  .card-container {
    display: flex; /* กำหนดให้เป็น Flex Container */
    gap: 20px; /* กำหนดระยะห่างระหว่าง Flex Items */
  }


